$ubuntu-font: "../../fonts/Ubuntu";

@font-face {
    src: url("#{$ubuntu-font}/Ubuntu-Regular.ttf") format("ttf");
    font-family: 'Ubuntu';
    font-weight: 100;
}

.ubuntu {
    font-family: 'Ubuntu';
}