$ubuntu-font: "../../fonts/Ubuntu";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

// @font-face {
//     src: url("#{$ubuntu-font}/Ubuntu-Regular.ttf") format("ttf");
//     font-family: 'Ubuntu';
//     font-weight: 100;
// }

.ubuntu {
  font-family: "Ubuntu" !important;
  font-weight: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../../fonts/Ubuntu/icomoon.eot?bm81qm");
  src: url("../../fonts/Ubuntu/icomoon.eot?bm81qm#iefix")
      format("embedded-opentype"),
    url("../../fonts/Ubuntu/icomoon.ttf?bm81qm") format("truetype"),
    url("../../fonts/Ubuntu/icomoon.woff?bm81qm") format("woff"),
    url("../../fonts/Ubuntu/icomoon.svg?bm81qm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-bag:before {
  content: "\e900";
}
.icon-icon-key:before {
  content: "\e901";
}
.icon-icon-shield-check:before {
  content: "\e902";
}
.icon-icon-settings:before {
  content: "\e903";
}
.icon-icon-settings-sliders:before {
  content: "\e904";
}
.icon-icon-transfer:before {
  content: "\e905";
}
.icon-icon-learning:before {
  content: "\e906";
}
.icon-icon-document:before {
  content: "\e907";
}
.icon-icon-histogram:before {
  content: "\e908";
}
.icon-icon-folder:before {
  content: "\e909";
}
.icon-icon-lock:before {
  content: "\e90a";
}
.icon-icon-label:before {
  content: "\e90b";
}
.icon-icon-time-quarter-past:before {
  content: "\e90c";
}
.icon-icon-user:before {
  content: "\e90d";
}
.icon-icon-truck-side:before {
  content: "\e90e";
}
.icon-icon-apps:before {
  content: "\e90f";
}
.icon-icon-atention:before {
  content: "\e910";
}
.icon-fi-rr-briefcase:before {
  content: "\e93d";
}

.icon-fi-rr-plus:before {
  content: "\ea4c";
}

.icon-fi-rr-plus-small:before {
  content: "\ea4d";
}

.icon-fi-rr-cross-small:before {
  content: "\e986";
}

.icon-fi-rr-menu-dots:before {
  content: "\ea22";
}

.icon-fi-rr-call-outgoing:before {
  content: "\e94c";
}

.icon-fi-rr-pencil:before {
  content: "\ea3e";
}

.icon-fi-rr-eye:before {
  content: "\e9ae";
}

.icon-fi-rr-lock:before {
  content: "\ea0d";
}

.icon-fi-rr-copy:before {
  content: "\e97d";
}

.icon-fi-rr-lock:before {
  content: "\ea0d";
}

.icon-fi-rr-check:before {
  content: "\e95f";
}

.icon-fi-rr-minus-small:before {
  content: "\ea27";
}

.icon-fi-rr-comment-user:before {
  content: "\e977";
}

.icon-fi-rr-folder:before {
  content: "\e9c7";
}
.icon-fi-rr-user:before {
  content: "\eadc";
}

.icon-fi-rr-trash:before {
  content: "\eace";
}

.icon-fi-rr-upload:before {
  content: "\eada";
}

.icon-fi-rr-download:before {
  content: "\e99d";
}

.icon-fi-rr-label:before {
  content: "\e9fe";
}

.icon-fi-rr-truck-side:before {
  content: "\ead4";
}

.icon-fi-rr-calendar:before {
  content: "\e948";
}

.icon-fi-rr-smartphone:before {
  content: "\ea92";
}

.icon-fi-rr-key:before {
  content: "\e9fb";
}

.icon-fi-rr-apps:before {
  content: "\ea92";
}

.icon-fi-rr-bell-ring:before {
  content: "\e9fb";
}
