.input-item-title {
  color: rgba(20, 16, 41, 0.4);

  font-size: 14px;
  margin-bottom: 8px;
}

.input-container-v2 {
  display: flex;
}

.input-title-item {
  background: rgba(239, 246, 255, 0.6);
  font-size: 16px;
  padding: 11px 16px;
  margin-bottom: 20px;
  color: rgba(20, 16, 41, 0.4);
}
