.ant-btn {
  box-shadow: none;
  min-height: 40px;
  border: none;
}

.ant-btn.orange {
  background-color: $orange;
  color: $white;
  font-family: "Ubuntu";
  font-size: 12px;
  width: 100%;
  padding-top: 6px;
  &:hover {
    background-color: $white;
    transition: 0.2s ease;
    color: $orange;
    border: 1px solid $orange;
  }
  &:disabled {
    color: rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.04);
    border-color: #d9d9d9;
  }
}

.ant-btn.white {
  background-color: $white;
  color: $orange;
  font-family: "Ubuntu";
  font-size: 12px;
  width: 100%;
  padding-top: 6px;
  &:hover {
    background-color: $white;
    transition: 0.2s ease;
    color: $orange;
    border: 1px solid $orange;
  }
  &:disabled {
    color: rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.04);
    border-color: #d9d9d9;
  }
}

.ant-btn.grey {
  background-color: $grey_btn;
  color: $white;
  font-family: "Ubuntu";
  font-size: 12px;
  width: 100%;
  padding-top: 6px;
  &:hover {
    background-color: $dark_icon;
    transition: 0.2s ease;
    color: $white;
    border: 1px solid $grey_btn;
  }
  &:disabled {
    color: rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.04);
    border-color: #d9d9d9;
  }
}
