.app-container {
  color: $dark_text;
  min-height: 100vh;
  font-family: "Ubuntu" !important;
  background: $bg_main;
}

.h100 {
  height: 100%;
}

.bg-main {
  background-color: $bg;
}

.bg-orange {
  background-color: $orange;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pointer {
  cursor: pointer;
}

.ant-row {
  font-family: "Ubuntu" !important;
}
