.ant-input-affix-wrapper {
  background-color: $input-bg-color;
  border: none;
  border-radius: 8px;
  min-height: 40px;
}

.ant-input {
  background-color: $input-bg-color;
}

.ant-form-item-control-input-content {
  input {
    background-color: $input-bg-color !important;
  }
}

.ant-form-item {
  width: 100%;
  font-family: "Ubuntu" !important;
}

.ant-form-item-explain-error {
  text-align: right;
}

.ant-form-item-explain-error {
  font-family: Ubuntu !important;
  color: #ff6b00 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffab00;
  border-color: $orange;
}

.ant-checkbox-checked .ant-checkbox-inner {
  &:hover {
    background-color: #ffab00 !important;
    border-color: $orange !important;
  }
}
