$orange: #ffab00;
$white: #ffffff;
$bg: #f5f7fa;
$text: #e0e0ff;
$dark_text: #141029;
$gradient_card: linear-gradient(
  135deg,
  #ffffff 0%,
  #fafbfc 51.82%,
  #f5f7fa 100%
);
$card: #eff6ff;
$dark_icon: #403e54;

//inputs
$input-bg-color: #f7f9fd;

.orange {
  color: $orange;
}
.orange-bg {
  background-color: $orange;
}
