.main-path-item {
  font-size: 18px;
  color: rgba(20, 16, 41, 0.8);
  font-family: "Ubuntu" !important;
  font-weight: 500;
}

.secondary-path-item {
  font-size: 14px;
  color: #141029;
  font-family: "Ubuntu" !important;
  font-weight: 400;
}

.path-wrapper {
  margin-bottom: 42px;
}
